/* ======= Universal Box Sizing with Inheritance ======= */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ======= Base Elements ======= */

body {
  font-size: 1em;
  color: #6e859c;
  padding: 0;
  margin: 0;
  background: #e8e9e9;
}

header {
  background-color: pink;

}


/* ---------- Font ---------- */
h1,
h2,
p,
span,
li {
  font-family: 'Source Code Pro', monospace
}

ul {
  list-style-type: none;
  /* padding: 20px; */

}

h1 {

}

h2,
p {
  text-align: center;
}

li {
  font-size: 24px;
  display: inline;
  text-align: center;
  /* border: 5px solid black; */
}

a {
  text-decoration: none;
  padding: 15px;
}

/* ======= Class Elements ======= */
.flex-header {
  /* max-width: auto; */
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.home-logo {
  display: grid;
  justify-content: flex-start;
  margin-left: 50px;
}

.header-motto {
  /* padding: 20px; */
}

.home-logo,
.header-motto,
.header-nav,
.header-sign-in {
  padding: 20px;
}

/* ======= ID Elements ======= */


/* ======= Pseudo Elements ======= */
