/* ======= Universal Box Sizing with Inheritance ======= */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ======= Base Elements ======= */

body {
  font-size: 18px;
  color: rgba(29, 29, 29, 0.7);
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  text-transform: none;
  line-height: 1.8em;
  letter-spacing: 0.06em;
}

header {
  background-color: pink;
}

ul {
  list-style-type: none;
}

h1 {

}

a {
  padding: 10px;
  color: rgba(29, 29, 29, 0.7);
  text-decoration: none;
}

/* ======= Class Elements ======= */
.header-top {
  /* background: #fff; */
  display: block;
  /* justify-content: space-between; */
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  margin-left: auto;
  margin-right: auto;
}

.header-top-left {
  align-items: center;
  display: flex;
  max-width: 100%;
  /* margin-right: auto; */
  justify-content: flex-start;
}

.header-nav {
  font-size: 12px;
}

.header-tagline {
  padding: 10px;
  margin-right: 100px;
  font-size: 12px;
}

.header-top-center {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.header-top-right {
  display: flex;
  max-width: 100%;
  justify-content: flex-end;
}

.header-nav-inner {

}

.header-nav-item {
  font-size: 24px;
  line-height: 12px;
  display: inline-block;
  /* border: 1px solid black; */
}

/* ======== Banner Layout ======== */

.banner-img {
  max-height: 567.4px;
  width: 100%;
}




/* ======= ID Elements ======= */
